<!-- <object data="assets/docs/Resume%202023%20-%20TMayer.pdf" width="1000" height="1000" type='application/pdf' /> -->
<!-- <embed src="assets/docs/Resume%202023%20-%20TMayer.pdf#toolbar=0" width="1000" height="1000"/> -->
<section class="hero is-fullheight has-text-centered" id="resume">
    <div class="hero-body">
        <div class="container">
            <a  href="{{site.url}}{{site.baseurl}}/resume">
                <img src="assets/docs/Resume_Screenshot.jpg" alt="Resume" style="border:1px solid lightgray"/>
            </a>
            <div>
                <a href="assets/docs/Resume%202023%20-%20TMayer.pdf" download="Resume TMayer"
                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Download Resume
                </a>
            </div>
        </div>
    </div>
</section>
